body {
    font-size: 1.25em;
    background-color: white;
    color: black;
}

#nav, #sidebar {
    display: none;
}

img {
    display: none;
}

a:after {
    content: " (" attr(href) ")";
}
